# This is Git's per-user configuration file.
# An '#' or ';' character indicate a comment.
[user]
	name = Patrick Kennedy
	email = mixelpix@mac.com
[url "https://github.com"]
	insteadOf = git://github.com
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	; Sets `git init`s default branch name to "main"
	; The template directory contains a text file, "HEAD" which reads:
	; `ref: refs/head/main`
	; followed by a newline.
	templateDir = ~/.config/git/template/
